ion-content{
    --background:#FFFFFF;
}
ion-toolbar{
    --background:#002918;
}
ion-card{
    --background:#002918;
}
ion-title{
    color:#FFFFFF;
    text-align: center;
}
ion-card-title{
    color:#FFFFFF;
    text-align: center;
}