<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos Necesarios</ion-card-title>
    </ion-card-header>
    
    <form #formulario="ngForm" (ngSumbmit)="onSubmit">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Rut</ion-label>
          <ion-input fill="outline" 
                      placeholder="XXXXXXXX-X" 
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input fill="outline" 
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input fill="outline"
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input fill="outline" 
                      type="email" 
                      placeholder="Email@mail.com"
                      helperText="Enter a valid email" 
                      errorText="Invalid email" 
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input fill="outline" 
                      type="password" 
                      value="password" >
          </ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button fill="solid" (click)="onSubmit()">Guardar</ion-button>
        </div>
      </ion-list>
    </form>
  </ion-card>
</ion-content>
