<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Galenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galenos</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
    <ion-item>
      <ion-input label="Login"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email:" label-placement="floating" fill="outline" type="emil" placeholder="Email@mail.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña:" label-placement="floating" fill="outline" type="password" value="password"></ion-input>
    </ion-item>
    <ion-button expand="block" url="./folder">Sing-in</ion-button>
  </div>
</ion-content>
