<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Galenos</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div>
    <div class="ion-text-center">
      <H1>Login</H1>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input fill="outline" type="email" placeholder="Email@mail.com"
        helperText="Enter a valid email" errorText="Invalid email" ngModel email>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">password</ion-label>
        <ion-input fill="outline" type="password" value="password"></ion-input>
      </ion-item>
      <ion-button href="./folder">Ingresa</ion-button>
      <h5 class="ion-text-center">¿Aun no tienes una cuenta?</h5>
      <ion-button href="./register">Registrate</ion-button>
    </ion-list> 
  </div>
</ion-content>
