<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" color="dark">Galenos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
    <div>
      <ion-card-header>
        <ion-card-title>Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input fill="outline" type="text" placeholder="Email@mail.com"
          [(ngModel)]="ValorEnviar.usuario">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">password</ion-label>
          <ion-input fill="outline" type="password" value="password" [(ngModel)]="ValorEnviar.password"></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-button (click)="navigateToMain()">Ingresa</ion-button>
        </div>
        <div class="ion-text-center">
          <h5 >¿Aun no tienes una cuenta?</h5>
          <ion-button (click)="navigateToRegister()">Registrate</ion-button>
        </div>
        <div class="ion-text-center">
          <ion-button fill="clear" color="primary" (click)="navigateToRegister()">Cambia tu contraseña</ion-button>
        </div>
      </ion-list> 
    </div>
  </ion-card>
</ion-content>
